<div>
	<div id="topbar-dropmenu" class="alt topbar-menu-open" style="display: block;margin-bottom:20px">
	<div class="topbar-menu row">

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="stop" class="metro-tile bg-danger light">
				<span class="glyphicon glyphicon-stop text-muted"></span>
				<center class="metro-title">Stop</center>
			</a>
		</div>

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="start" class="metro-tile bg-success light">
				<span class="glyphicon glyphicon-play text-muted"></span>
				<center class="metro-title">Start</center>
			</a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="x" class="metro-tile bg-warning light">
				<span class="glyphicon glyphicon-step-forward text-muted"></span>
				<center class="metro-title">Step</center>
			</a>
		</div>
<!-- 		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="status" class="metro-tile bg-info light">
				<span class="glyphicon glyphicon-minus text-muted"></span>
				<center class="metro-title">Status</center>
			</a>
		</div> -->
	</div>
	</div>
	<div class="container">
		<div class="row">
				<div class="col-lg-6 col-xs-12">
					<div class="stepper form admin-form theme-primary"></div>
				</div>
			</div>
		</div>
	</div>
</div>