<div>
	<div id="topbar-dropmenu" class="alt topbar-menu-open" style="display: block;margin-bottom:20px">
	<div class="topbar-menu row">


		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="r" class="metro-tile bg-warning light">
				<span class="glyphicon glyphicon-refresh text-muted fa-flip-horizontal"></span>
				<center class="metro-title">Reverse</center>
			</a>
		</div>

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="s" class="metro-tile bg-danger light">
				<span class="glyphicon glyphicon-record text-muted"></span>
				<center class="metro-title">Stop</center>
			</a>
		</div>

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="f" class="metro-tile bg-primary light">
				<span class="glyphicon glyphicon-refresh text-muted"></span>
				<center class="metro-title">Forward</center>
			</a>
		</div>


		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="c" class="metro-tile bg-success light">
				<span class="glyphicon glyphicon-minus text-muted"></span>
				<center class="metro-title">Clear</center>
			</a>
		</div>
	</div>
</div>
<div class="stepper form"></div>
</div>