<div>
<!-- <div id="topbar-dropmenu" class="alt topbar-menu-open" style="display: block;margin-bottom:20px"> -->
<!-- 	<div class="topbar-menu row">


		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="1" class="metro-tile bg-warning light">
				<span class="glyphicon glyphicon-record text-muted fa-flip-horizontal"></span>
				<center class="metro-title">Coil 1</center>
			</a>
		</div>

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="2" class="metro-tile bg-danger light">
				<span class="glyphicon glyphicon-record text-muted"></span>
				<center class="metro-title">Coil 2</center>
			</a>
		</div>

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="3" class="metro-tile bg-primary light">
				<span class="glyphicon glyphicon-record text-muted"></span>
				<center class="metro-title">Coil 3</center>
			</a>
		</div>


		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="4" class="metro-tile bg-success light">
				<span class="glyphicon glyphicon-record text-muted"></span>
				<center class="metro-title">Coil 4</center>
			</a>
		</div>
	</div> -->
<!-- </div> -->
<div class="row">
	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="dash" class="btn btn-default">
				<img style="width:100%" title="Stepper" src="">
		</a>
	</div>

	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="stepper" class="btn btn-default">
				<img style="width:100%" title="Stepper" src="./3d_models/Stepper Motor.png">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="speaker" class="btn btn-default">
			<img style="width:100%" title="Speaker" src="./3d_models/Speaker.png">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="meter" class="btn btn-default">
			<img style="width:100%" title="Meter" src="./3d_models/Meter.png">
		</a>
	</div>
</div>
<div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="solenoid" class="btn btn-default">
			<img style="width:100%" title="Solenoid" src="./3d_models/Solenoid.png">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="brushed" class="btn btn-default">
			<img style="width:100%" title="DC Motor" src="./3d_models/DC Motor.png">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4">
		<a href="#" data-link="relay" class="btn btn-default">
			<img style="width:100%" title="Relay" src="./3d_models/Relay.png">
		</a>
	</div>
</div>
<style>
.btn-default{background:#D8D8D8}
</style>
</div>