<div>
	<div id="topbar-dropmenu" class="alt topbar-menu-open" style="display: block;margin-bottom:20px">
	<div class="topbar-menu row">

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="c1:100" class="metro-tile bg-danger light">
				<span class="glyphicon glyphicon-resize-horizontal text-muted"></span>
				<center class="metro-title">Solonoid 1</center>
			</a>
		</div>

		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="c2:100" class="metro-tile bg-primary light">
				<span class="glyphicon glyphicon-resize-horizontal  text-muted"></span>
				<center class="metro-title">Solonoid 2</center>
			</a>
		</div>

<!-- 		<div class="col-xs-4 col-sm-2">
			<a href="#" data-serial="status" class="metro-tile bg-info light">
				<span class="glyphicon glyphicon-minus text-muted"></span>
				<center class="metro-title">Status</center>
			</a>
		</div> -->
	</div>
	</div>
	<div class="container">
		<div class="row">
<div id="solonoid1" class="form col-md-6"></div>
<div id="solonoid2" class="form col-md-6"></div>
			</div>
		</div>
	</div>
</div>