<div class="row">
	<div class="col-md-12">
		<div class="bs-component">
			<div class="panel">
				<div class="panel-heading">
					<span class="panel-icon">
						<i class="fa fa-users"></i>
					</span>
					<span class="panel-title"> Contestants</span>
					<span class="btn btn-success pull-right" style="margin-top: 5px;" id="new-racer"><i class="fa fa-plus"></i> Add</span>
				</div>
				<div class="panel-body pbn p10">
					<div class="list-group">
					</div>
				</div>
			</div>
		<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
	</div>
</div>
