<a href="javascript:void(0);" class="filterable list-group-item">	<div class="btn-group actions parent-hover" style="position:absolute;top:5px;right:50px;">
		<span class="btn btn-danger btn-sm tooltips fa fa-times" title="Remove"></span><span></span>
	</div>{{#number}}<b class="list-group-item-heading">{{number}}</b>{{/number}} <span class="list-group-item-heading">{{name}} {{#racer}}<span class="text-muted">({{racer}})</span>{{/racer}}</span> <i class="pull-right btn btn-{{#active}}success{{/active}}{{^active}}danger{{/active}}"></i>

	</a>
